In [4]:
#Q1 : print 0 to 20 by using range
for n in range(20):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
#Q2 : print range 10 to 20
for n in range(10,20):
    print(n)

10
11
12
13
14
15
16
17
18
19

In [6]:
#Q3 : Print number of items in the list by using 'len'
# [10, 20, 14, 55, 43, 87, 76]
# Number of item in the List2:
# 7
mylist = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:")
print(len(mylist))

Number of item in the List2:
7

In [8]:
#Q4 : Print one character per line from "Artificial Intelligence"
for ch in "Artificial Intelligence":
    print(ch)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
#Q5 : print items in list
mylist=["Name","Age","Profession"]
for w in mylist:
    print("-Your "+w+"-")

-Your Name-
-Your Age-
-Your Profession-

In [12]:
#Q6 : print items in tuples
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [13]:
#Q7 : Print items in two tuples
Tuple1=(0, 1, 2, 3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [16]:
#Q8 : Print odd numbers in the list
# (20,10,16,19,25,1,276,188)
#19 is odd
#25 is odd
#1 is odd
Tuple1=(20,10,16,19,25,1,276,188)
print(Tuple1)
for num in Tuple1:
    if(num%2==1):
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [17]:
#Q9 : Print even numbers in the list
Tuple1=(20,10,16,19,25,1,276,188)
print(Tuple1)
for num in Tuple1:
    if(num%2==0):
        print(num,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even